.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card a {
  display: block;
}

.card figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--indent-s);
  margin: auto;
}

.card figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  padding: var(--indent-s);
  flex-grow: 1;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.card img {
  object-fit: contain;
}

@media screen and (max-width: 425px) {
  .card img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}
