.imageInput {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.imageInput svg {
  height: 50%;
  width: 50%;
}

.previewImage {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.shake {
  color: var(--invalid-color);
  animation: Shake 0.3s ease-in;
}

@keyframes Shake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: scale(0.5, 1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
