.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: var(--width-mobile);
}

.formLabel {
  grid-column: 1;
  padding: var(--indent);
  padding-left: 0;
}

.formImageInput {
  grid-column: 1 / span 3;
}

.formInput {
  display: block;
  grid-column: 1 / span 3;
  padding: var(--indent);
}

.formTextArea {
  resize: none;
  height: 150px;
}

.submitButton {
  grid-column: 3;
  margin-top: var(--indent);
}

.resetButton {
  grid-column: 1;
  margin-top: var(--indent);
}

.formInput,
.formTextArea {
  border: var(--border);
  border-radius: var(--border-radius);
}

.focus:focus-visible {
  border-color: var(--cl-blue);
  outline: none;
}
