.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: var(--width-mobile);
}

.formLabel {
  grid-column: 1;
  padding: var(--indent);
  padding-left: 0;
}

.fileInput {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.fileInput svg {
  height: 50%;
  width: 50%;
}

.previewImage {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.formInput {
  display: block;
  grid-column: 1 / span 3;
  padding: var(--indent);
}

.formTextArea {
  resize: none;
  height: 150px;
}

.submitButton {
  grid-column: 3;
  margin-top: var(--indent);
}

.resetButton {
  grid-column: 1;
  margin-top: var(--indent);
}

.formInput,
.formTextArea,
.fileInput {
  border: var(--border);
  border-radius: var(--border-radius);
}
