.header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  padding: var(--indent);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  border-bottom: thin solid var(--border-color);
}

.header > ul {
  display: flex;
  align-items: center;
  gap: var(--indent);
  width: 100%;
}

.header > ul > li:nth-child(2) {
  margin-left: auto;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
