@import url('./variables.css');
@import url('./theme.css');

html,
body {
  font-size: var(--font-size);
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body,
ul,
figure {
  margin: 0;
  padding: 0;
  color: var(--font-color-main);
}

li {
  list-style: none;
  display: block;
}

input,
textarea,
button {
  background: none;
  font-size: 1rem;
}

.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-main);
  font-weight: 700;
  text-decoration: none;
  padding: var(--indent);
  border-radius: var(--border-radius);
}

.icon {
  width: var(--font-size);
  height: var(--font-size);
}

@media (hover: hover) and (pointer: fine) {
  .clickable:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }
}
