@import url('./variables.css');
@import url('./theme.css');

html {
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body,
ul,
figure {
  margin: 0;
  padding: 0;
  color: var(--font-color-main);
}

li {
  list-style: none;
  display: block;
}

input,
textarea,
button {
  background: none;
  font-size: 1rem;
}

.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-main);
  font-weight: 700;
  text-decoration: none;
  padding: var(--indent);
  border-radius: var(--border-radius);
}

.pulsate {
  background: linear-gradient(-45deg, #dddddd, #f0f0f0, #dddddd, #f0f0f0);
  background-size: 400% 400%;
  animation: Gradient 2.25s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .clickable:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }
}
